---
interface Props {
  membresia?: string;
}
const { membresia } = Astro.props;

const config = {
  basica: {
    titulo: ["Plan", "básico"],
    descripcion: "Para emprendedores",
    precio: "25",
    moneda: "€",
    isPopular: false,
  },
  premium: {
    titulo: ["Plan", "premium"],
    descripcion: "Para profesionales y comercios",
    precio: "200",
    moneda: "€",
    isPopular: true,
  },
};

const datos =
  config[(membresia as keyof typeof config) || "basica"] || config.basica;

const puntos = [
  {
    titulo: "Perfil en Directorio Web del Hub.",
    items: [],
    cambiable: false,
  },
  {
    titulo: "Landing Page Premium.",
    items: [
      "Diseño profesional",
      "Optimizada SEO local",
      "Formulario de contacto",
      "Hosting incluido primer año",
    ],
    cambiable: membresia === "basica",
  },
  {
    titulo: "Ficha Google My Business Optimizada",
    items: [
      "Configuración completa y optimizada",
      "Publicaciones mensuales",
      "Gestión de reseñas",
    ],
    cambiable: membresia === "basica",
  },
  {
    titulo: "Post mensual en RRSS del Hub.",
    items: [],
    cambiable: membresia === "basica",
  },
  {
    titulo: "Sesión de fotos / videos semestral.",
    items: [],
    cambiable: membresia === "basica",
  },
  {
    titulo: "Newsletter Semanal del Barrio.",
    items: [
      "Tips locales",
      "Ofertas exclusivas entre asociados",
      "Base de datos de +5.000 vecinos",
    ],
    cambiable: false,
  },
  {
    titulo: "Eventos mensuales de Networking.",
    items: [],
    cambiable: false,
  },
  {
    titulo: "Descuentos Cruzados entre Asociados.",
    items: [],
    cambiable: membresia === "basica",
  },
];

const puntosOrdenados = [...puntos].sort((a, b) => {
  if (a.cambiable === b.cambiable) return 0;
  return a.cambiable ? 1 : -1;
});
---

<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <div class="crece-membresia-header">
        <div class="crece-membresia-titulo-section">
          <h3 class=`crece-membresia-titulo m1-${membresia}` id="titulo">{datos.titulo[0]}</h3>
          <h3 class=`crece-membresia-titulo m2-${membresia}` id="titulo">{datos.titulo[1]}</h3>
        </div>
        {
          datos.isPopular && (
            <span class="crece-membresia-badge">MÁS POPULAR</span>
          )
        }
        <!-- <p class="crece-membresia-descripcion">{datos.descripcion}</p> -->
      </div>
      <img
        src={`/barriohub-landing/images/membresia${membresia?.charAt(0).toUpperCase()}${membresia?.slice(1)}.png`}
        alt={`Foto de la membresia ${membresia}`}
        class=`crece-membresia-foto-${membresia}`
      />
    </div>
    <div class="card-back">
      <div class="crece-membresia-precio-section">
        <div class="crece-membresia-precio-wrapper">
          <div class="crece-precio-main">
            <span class="crece-precio-numero">{datos.precio}</span>
            <span class="crece-precio-symbol">{datos.moneda}</span>
          </div>
        </div>
        <p class="crece-precio-periodo">
          Al mes con compromiso de permanencia de un año
        </p>
      </div>

      <div class="crece-membresia-contenido">
        {
          puntosOrdenados.map((grupo) => (
            <div class="crece-membresia-seccion">
              <h4
                class={`crece-membresia-seccion-titulo ${grupo.cambiable ? "excluido" : ""}`}
              >
                {grupo.titulo}
              </h4>
              {grupo.items.length > 0 && (
                <ul
                  class={`crece-membresia-items ${grupo.cambiable ? "excluido" : ""}`}
                >
                  {grupo.items.map((item) => (
                    <li class="crece-membresia-item">{item}</li>
                  ))}
                </ul>
              )}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
